---
layout: page
permalink: /pricing
title: Pricing
simple: true
extra-css:
  primary:
    - custom/pricing
  secondary:
    - bootstrap/list-group
---
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="container tiers m-2 m-lg-3 m-xl-4">
        <div class="row justify-content-around">
          {% include tier.html tier=site.data.tiers.organisation %}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-8">
      {% include section.html content="_content/SUBSCRIPTION" title="Subscription Details" class="mx-3 my-2" %}
    </div>
  </div>
</div>