/* == Fonts == */
$font-heading:								"Montserrat";
$font-branding:               "Montserrat";
$font-general:								"Raleway", sans-serif;
$font-weight-heading:					600;
$font-weight-branding:        400;
$font-weight:									400;
$font-spacing-heading:				0.1rem;
$font-line-spacing:           1.4;

/* == Colours == */
$colour-background: 					#ffffff;
$colour-general:              #000000;
$colour-emphasis: 						#cccccc;
$colour-deemphasise:          #f3f3f3;
$colour-foreground: 					darken($colour-emphasis, 10%);
$colour-highlight:            #27a532;
$colour-header:               transparentize($colour-background, 0.4);
$colour-background-menu:      #fafafa;
$colour-location:             #424a73;
$colour-out:                  #ff00e6;
$colour-in:                   #fffd00;
$colour-section:              #fafafa;
$colour-support:              #28a745;